/* ===== Image Container ===== */
.image-container {
  width: 60%;
  height: 400px;              
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain !important; 
}

/* ===== Responsive ===== */
@media (max-width: 992px) {
  .card .d-flex {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    height: 250px; 
    margin-top: 1rem;
  }
}